h1{
    color: black;
}

body{
    background: #71C9CE;
}

.allCard{
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    
    gap: 1rem;
    padding: 0.5rem;
}
.pImage{
    height: 35%;
    align-self: center;
}
.card{
    width: 350px;
    height: 650px;
    padding: 30px;
    margin: 50px 30px;
    display: flex;
    flex-direction: column;
    border: 2px solid #E3FDFD;
    background: #E3FDFD;
    border-radius: 30px;
    transition: 0.3s ease;
    color: #393E46;
}
.card:hover{
    box-shadow: #393E46 0px 5px 15px;
}

.cardImage{
    height: 100%;
    width: 200px;
    align-self:  center;
    border-radius: 20px;
}
.productTitle{
    font-size: 18px;
}
.productPrice{
    background: #A6E3E9;
    display: inline;
    padding: 10px;
    font-weight: bold;
    border-radius: 10px;
    font-size: 16px;
}

.productRating{
    color: #B83B5E;
    font-weight: 400;
}

button.addto{
    padding: 11px 20px;
    border: 1px solid #71C9CE;
    background: #71C9CE;
    font-size: 18px;
    font-weight: bold;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s ease-in;
}   
button.addto:hover{
    box-shadow: #71C9CE 0px 5px 15px;

}

@media (max-width: 768px) {
    .allCard {
      grid-template-columns: repeat(1, minmax(0, 1fr));
      /* text-align: center; */
    }
  }
  @media (max-width: 600px) {
    .allCard {
      grid-template-columns: repeat(1, minmax(0, 1fr));
    }
  }